@import "constants.scss";

.#{$prefix}-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 20px;
  width: 30%;
  margin: 20px;
}


.#{$prefix}-card-pack {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  padding: 20px;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
