@import "constants.scss";

.#{$prefix}-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &.#{$prefix}-nav--horizontal {
    li {
      padding-right: 5px;
    }
  }

  &.#{$prefix}-nav--vertical {
    flex-direction: column;
  }


  .#{$prefix}-nav-item {
    position: relative;
    cursor: pointer;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;

    .#{$prefix}-nav-dropdown {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: #fff;
      z-index: 10000;
      cursor: pointer;
      padding: 0;
      margin: 0;
      list-style-type: none;

      &.#{$prefix}-nav-dropdown--shown {
        ;
        display: flex;
      }

    }

    &.#{$prefix}-nav-button {
      border: 1px solid #000;
      background: green;
      margin: 5px;
    }



  }

}
